#cal1 {
    position: absolute;
    height: 0px;
    width: 0px;
    top: 100px;
    left: 100px;
    overflow: none;
    z-index: -100;
}

#cal2 {
    position: absolute;
    height: 0px;
    width: 0px;
    top: 0px;
    left: 0px;
    overflow: none;
    z-index: -100;
}

#tooltip {
    display: none;
    position: absolute;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .75);
    font-size: 16px;
    color: white;
    padding: 10px;
}
